.login-page {
  min-height: 100vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: stretch;
}

.login-image {
  width: 50%;
  background: #FFE8D2;
  position: relative;
  overflow: hidden;
}

.login-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../assets/login.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}

.login-form {
  width: 50%;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: none;
}

.login-header {
  margin-bottom: 3.5rem;
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.telus-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #15372C;
}

.telus-logo img {
  max-width: 100%;
  height: auto;
}

.login-title {
  font-size: 3.5rem;
  color: #1F2937;
  margin-bottom: 3rem;
  line-height: 1.1;
  letter-spacing: -0.02em;
  font-family: 'Untitled Serif', serif;
  font-weight: 400;
  text-align: center;
}

.form-control {
  padding: 1rem 1.25rem;
  border: 1px solid #E5E7EB;
  border-radius: 6px;
  font-size: 1rem;
  transition: all 0.2s;
  height: auto;
}

.form-control:focus {
  border-color: #73c2b0;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
  outline: none;
}

.form-control::placeholder {
  color: #9CA3AF;
}

.login-form .btn-primary {
  background-color: #059669 !important;
  border-color: #059669 !important;
  padding: 1rem;
  font-weight: 500;
  border-radius: 6px;
  font-size: 1rem;
  transition: all 0.2s;
  height: 48px;
  margin-top: 0.5rem;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form .btn-primary:hover {
  background-color: #047857 !important;
  border-color: #047857 !important;
}

.text-muted {
  color: #4B5563;
  text-decoration: none;
  font-size: 0.875rem;
  margin-top: 2rem;
  display: inline-block;
}

.text-muted:hover {
  color: #1F2937; 
}

.text-muted span {
  color: #059669;
  text-decoration: none;
}

.text-muted span:hover {
  text-decoration: underline;
}

.form-control:disabled {
  background-color: #f9fafb;
  color: #1F2937;
  cursor: pointer;
}
